<div class="container mt-4">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders" routerLink="/order/{{order.id}}">
                    <th scope="row">
                        <a style="cursor: pointer;">{{order.id}}</a>
                    </th>
                    <td>{{order.orderDate | date}}</td>
                    <td>{{order.total}}</td>
                    <td>{{order.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>